* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(72, 104, 105);
    margin: 10%;
    padding-left: 22%;
}

a {
    color: #f2d6ce;
    text-decoration: none;
    font-size: 30px;
    font-family: "bloom";
    font-size: 200px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    padding-left: 10%;
}
.story{
    transition-duration: 4s;
}

/* mouse over link */
.story:hover {
    /* background-color: #a75f37; */
    transform: translate(-20em);
}

p {
    color: beige;
    font-family: "children books";
    font-weight: 100;
    font-size: 40px;

}
