* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2e7dd;
    margin: 20%;
    padding-left: 5%;
}

p {
    color: #ca8e82;
    font-family: "fiesta";
    font-size: 50px;
}

a {
    text-decoration: none;
    color: rgb(72, 104, 105);
    font-family: "children books";
    font-size: 80px;
}